<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create store-Glimpse</title>
    <link rel="stylesheet" href="../styles/style3.css">
</head>
<body>    
    <div class="form">
        <br>
        <h1>Your online store is just a few clicks away!</h1><br>
        <form>
            <div>
                <label>Your store name</label>
                <input type="text"required/><br>  
            </div>
            <div>
                <label>E-mail</label>
                <input type="email"required/><br>
            </div>
            <div>
                <label>First Name</label>
                <input type="text"required/><br>
            </div>
            <div>
                <label>Last Name</label>
                <input type="text"required/><br>
            </div>
            <div>
                <label>Location of business</label>
                <input type="text"required/><br>
            </div>
            <div>
                <label>Password</label>
                <input type="password"required/><br>
            </div>
            <button>Create My Store</button><br>
        </form>
    </div>
</body>
</html>