<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Help and Support-Glimpse</title>
    <link rel="stylesheet" href="../styles/style4.css"
</head>
<body>
    <div class="container">
        <h1>Help & Support</h1>
        <div class="pay">
            <p>Payment</p>
            <h>Transaction Mode</h>
            <li>Collect payment in 20 currencies</li>
        </div>
    </div>
</body>
</html>