@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Paytone One');

body{
  background: whitesmoke ;
}
.container h1{
  font-family: "Poppins";
  color:#EECB70;
}
.container h1 span{
  font-family: "Poppins";
  color:black;
  border-left: 2px solid black;
  height: 50px;
  position:absolute;
 font-size:large;
 font-weight: lighter;
}
.container h1 span a{
  font-size: small;
  padding: 12px 50px;
  text-decoration: none;
  font-family: 'poppins';
  color: black;
}

.container h1 span button{
  background: #F2C94C;
  color: black;
  border-radius: 4px;
  border: #EECB70;
  padding: 12px 50px;
  /* margin: 30px; */
  /* display: flex; */

}

.container h1 span a:hover{
  background: #EECB70;
  border-radius: 10px;
}

.container h1 span button:hover{
  background: #EECB70;
}

.container .par h2{
  font-family: "Paytone One";
  font-size: 50px;
}

.container .par p{
  font-family: "Poppins";
}