@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Paytone One');

body{
  background: whitesmoke ;
}
*{
  margin: 0;
  padding: 0;
}
.container h1{
  font-family: "Poppins";
  color:#EECB70;
  margin: 50px;
}
.container h1 span{
  font-family: "Poppins";
  color:black;
  border-left: 2px solid black;
  height: 50px;
  position:absolute;
 font-size:large;
 font-weight: lighter;
}
.container h1 span a{
  font-size: small;
  padding: 12px 50px;
  text-decoration: none;
  font-family: 'poppins';
  color: black;
}

.container h1 span button{
  background: #F2C94C;
  color: black;
  border-radius: 4px;
  border: #EECB70;
  padding: 12px 50px;
  font-family: "poppins";
  /* margin: 30px; */
  /* display: flex; */

}

.container h1 span a:hover{
  background: #EECB70;
  border-radius: 10px;
}

.container h1 span button:hover{
  background: #EECB70;
}

.container .par h2{
  font-family: "Paytone One";
  font-size: 50px;
  margin: 50px;
}
.container .par h2 span{
  color: #F2C94C;
}
.container .par p{
  font-family: "Poppins";
  margin: 50px;
  
}

.container .par h3{
  font-family: "Paytone One";
  margin: 50px;
  font-size: 25px;
}

.container .par .shop {
  width: 300px;
  height:300px;
  background: rgb(206, 204, 204);
  margin: 50px;
  border-radius: 20px;
  box-shadow: 10px 10px gainsboro;
  /* margin-top: 10px; */
}
/* .container .par .shop img{
  width: 80px;
  height: 80px;
  border: honeydew;
} */
.container .par .shop h4{
  font-family: "poppins";
  margin: 50px;
  margin-top: 15px;

}
.container .par .shop:hover{
  background: #EECB70;
 
}
.container .par .shop p{
  font-family: "poppins";
  margin: 50px;
  margin-top: -40px;
}

.container .par .shop a{
  font-family: "poppins";
  margin: 50px;
  text-decoration: none;
  color: black;
}

.footer{
  background: rgb(155, 154, 154);
}
.footer h1{
  font-family: "Poppins";
  color:#EECB70;
  margin: 50px;
  
}
.footer h1 span{
  font-family: "Poppins";
  color:black;
  border-left: 2px solid black;
  height: 50px;
  position:absolute;
 font-size:large;
 font-weight: lighter;
}

.footer h1 span a{
  font-size: small;
  padding: 12px 50px;
  text-decoration: none;
  font-family: 'poppins';
  color: white;
  font-weight: 100px;
}
.footer ul li{
  margin-left: 240px;
  list-style-type: none;
}