@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Roboto');
.container .form h1{
background: whitesmoke;
text-align: center;
color: #EBCC70;
}
*{
    padding: 0;
    margin: 0;
  }
.container .form h2{
    background: whitesmoke;
    text-align: center;
    font-family: "Poppins";
}
body{
    background: whitesmoke
}
.container .form{
    background: #001236;
    background-color: #001236;
}
.container .form input{
    color: black;
    padding: 12px 15px;
    margin: auto;
    border-radius: 10px;
    text-align: center;
    display: flex;
}

.container form label{
    text-align: center;
    display:flex;
    width: 150px;
    line-height: 50px;
    margin:auto;
    justify-content: center;
    color: whitesmoke;
    font-family: "Roboto";
}

.container form button{
    background: #F2C94C;
    color: whitesmoke;
    border-radius: 10px;
    border: #F2C94C;
    margin: auto;
    display: flex;
    padding: 12px 50px;
    margin-top: 50px;
    font-family:'Roboto';
}
.foot p{
    font-family: "Roboto";
    text-align: center;
    margin-top: 20px;
}
.foot{
    background: whitesmoke;
}
.foot button{
    border-color: #F2C94C;
    color: black;
    font: bolder;
    font-weight: 70%;
    border-radius: 9px;
    display: flex;
    font-family: "Roboto";
    background: whitesmoke;
    padding: 12px 95px;
    margin: auto;
    margin-top: 30px;
    text-align: center;

}
.foot button:hover{
    background: #EBCC70;
}